section.advantages 
	.container 
		.advantages__box
			.advantages__info
				h5.title.advantages__title Почему стоит #[br] #[span.color-red обратиться именно к нам]
				p #[b КредитМастер] – это команда высококвалифицированных кредитных брокеров, предоставляющих широкий спектр услуг по решению и закрытию даже самых сложных финансовых вопросов. Все, что вам нужно сделать – просто довериться нашим экспертам. Результатом будет абсолютно чистая сделка с нулевым стрессовым фоном и максимальной экономией вашего времени.
				p #[b Миссия компании] – помочь людям, ведь именно их мы ставим во главу угла. Глубокое погружение в задачу, детальное консультирование, подготовка и заполнение всех необходимых документов – все это имеет под собой лишь одну цель: подарить вам возможность реализовать свою кредитную мечту.
				ul.advantages__list 
					each item in ['Оплата по факту получения денег','Платите только за результат','Нет рисков','95% - одобрение']
						li= item
				button.button.advantages__button Получить деньги
			figure.director
				img.director__foto(src="img/director.webp", alt="@")
				figcaption.director__name Игорь Катамаранов #[br] #[span.director__name--status Ген. директор]
