-
	const dataSelect = [
		{name: 'Господдержка',     dataPercent: '5.3', dataSum: '12000000',  dataPeriod: '30'},
		{name: 'Ипотека',          dataPercent: '7.5', dataSum: '110000000', dataPeriod: '30'},
		{name: 'Рефинансирование', dataPercent: '8',   dataSum: '50000000',  dataPeriod: '30'},
		{name: 'Кредит под залог', dataPercent: '11',  dataSum: '110000000', dataPeriod: '20'},
		{name: 'Кредит наличными', dataPercent: '9.5', dataSum: '10000000',  dataPeriod: '7'},
		{name: 'Кредит на бизнес', dataPercent: '13',  dataSum: '150000000', dataPeriod: '5'}
	]


section.calculate
	.container 
		.title.calculate__title.js-animate7 Рассчитать свой кредит
		.calculate__inner
			.calculate__box
				.calculate__fields
					.select.js-borderColor
						label.calculate__label Тип кредитования
						input(class="select__input" type="text" style="display:none")
						.select__header 
							.select__current Господдержка
							svg(width='14' height='14' viewBox='0 0 14 14' fill='none')
								path(d='M0.669922 3.04336C0.423828 3.12539 0.202344 3.32227 0.0792969 3.56836C0.021875 3.68594 0.0136719 3.74336 0.0136719 3.99219C0.0136719 4.25469 0.0191406 4.29297 0.0902344 4.42969C0.155859 4.55273 0.751953 5.1625 3.27578 7.68906C5.85703 10.273 6.41211 10.8145 6.54883 10.8883C6.70469 10.973 6.72656 10.9785 7 10.9785C7.27344 10.9785 7.29531 10.973 7.45117 10.8883C7.59062 10.8145 8.14023 10.2758 10.7352 7.67539C13.2098 5.19805 13.866 4.52539 13.9207 4.41602C13.9781 4.29844 13.9863 4.24102 13.9863 3.99219C13.9863 3.72969 13.9781 3.69141 13.907 3.54922C13.8113 3.36055 13.6527 3.20195 13.4531 3.09805C13.3164 3.02969 13.2754 3.02148 13.0293 3.02148C12.5508 3.02148 12.8242 2.78359 9.72891 5.87617L7 8.59961L4.27383 5.87617C1.20859 2.81914 1.45195 3.02969 1.01172 3.01602C0.875 3.01328 0.735547 3.02422 0.669922 3.04336Z' fill='#003868')
						.select__body
							each item in dataSelect 
								.select__item(data-percent= item.dataPercent data-maxsum= item.dataSum data-period= item.dataPeriod)= item.name
					.calculate__field.js-borderColor
						label.calculate__label Сумма кредита
						input.calculate__input.js-sum(type="text" value="1000000")
						input.calculate__input.js-sumDouble(type="text" value="1000000" style="display:none")
					.calculate__field.js-borderColor
						label.calculate__label Cрок кредита
						input.calculate__input.js-periodInput(type="text" value="1")

				.calculate__info 
					p #[b Аннуитетные платежи] одинаковы, но соотношение в них основного долга и процентов — разное. Здесь проценты за пользование начисляются на остаток долга, поэтому в начале кредита — процентов больше, основного долга — меньше. А к концу кредита — наоборот. 
					p #[b Дифференцированный платеж] - это система погашения кредита, при которой заемщик ежемесячно вносит разные суммы, размер которых с каждым разом уменьшается.

				.result
					.result__item 
						span.result__name Ежемесячный платеж
						.result__box
							output.result__val.js-resultSum(type="text" value="" readonly) 
							span  ₽
					.result__item 
						span.result__name Срок кредита
						.result__box.result__box--sm
							output.result__val.js-period 1  
							span.js-periodValue  год
					.result__item
						span.result__name Годовая ставка
						.result__box.result__box--sm
							output.result__val.js-percent 5.3 
							span %
					button.button.result__button Получить кредит
