section.consult
	img.consult__bglogo(src="img/bg-logo.webp", alt="@")
	img.consult__bggirl.js-animate4(src="img/consult-bg-girl.webp", alt="@")
	img.consult__bgmoney.js-animate5(src="img/consult-bg-money.webp", alt="@")
	.container 
		.consult__box 
			.consult__info 
				h3.title.consult__title Получите консультацию #[br] #[span.color-red абсолютно бесплатно]
				p.consult__text Специалист компании, изучив ваш кредитный профиль, предложит наиболее выгодные варианты одобрения кредита, а также проведет бесплатный анализ финансовой устойчивости вашего работодателя для исключения возможности отказа от банка.
				ul.consult__list 
					each item in ['Ставка до 5% ниже, чем при прямой заявке в банк','Индивидуальный подход к каждому клиенту','Полная прозрачность сделки','Прямые связи с руководством ведущих федеральных и региональных банков','Оплата после получения одобрения банка']
						li= item
			.consult__form
				include ./../sections/_form.pug