-
	const conditions = [
		{title: '% ставка',            text: 'при наличии ребенка после 2018г. - от 5,3%, для любого - от 7,3% - первые 3 года, затем 8% или 9,5%'},
		{title: 'до 12 млн на 30 лет', text: 'за счет максимального срока ежемесячный платеж составляет 66 636 ₽'},
		{title: 'решение за 1 день',   text: 'средний срок одобрения заемщика до 1 дня'},
		{title: 'выдача наличными',    text: 'возможна на счет физического лица - собственника бизнеса'},
		{title: 'без анализа бизнеса', text: 'упрощенная система одобрения по управленческим данным'},
		{title: 'без залога',          text: 'необходим только поручитель'}
	]

section.conditions 
	.container 
		h2.title.conditions__title Условия программы #[br] #[span.color-red господдержки для бизнеса]
		.conditions__box 
			each item in conditions 
				.condition 
					svg.condition__icon(width='40' height='40' viewBox='0 0 40 40' fill='none')
						g(clip-path='url(#clip0_10_234)')
							path(d='M17.561 0.886456C14.725 1.25596 11.6212 2.41991 9.31176 3.98107C4.72988 7.07568 1.70917 11.8793 0.933208 17.2925C0.766931 18.4842 0.739218 21.1169 0.877783 22.3086C1.57061 27.8789 4.61903 32.8487 9.31176 36.0173C11.6766 37.6154 14.7435 38.7516 17.6903 39.1119C18.6972 39.2412 21.3022 39.2412 22.3091 39.1119C25.6716 38.6962 28.9048 37.3937 31.6207 35.3614C32.5075 34.687 34.0594 33.1998 34.8354 32.276C37.1633 29.4862 38.6967 25.8835 39.1309 22.1792C39.2879 20.8398 39.1956 17.8191 38.9462 16.5258C38.7152 15.3064 38.3457 13.9762 38.1425 13.6714C37.6252 12.8862 36.4058 12.8123 35.7592 13.5328C35.288 14.0594 35.2696 14.3734 35.6483 15.8422C36.101 17.6066 36.2026 18.595 36.1379 20.5811C36.0825 22.4564 35.907 23.454 35.3712 25.0799C34.5213 27.6387 33.1172 29.828 31.1034 31.7402C28.3598 34.3452 24.7386 35.9434 21.0805 36.1466C18.0413 36.3221 15.4086 35.7863 12.7482 34.4561C12.0923 34.1235 11.1501 33.5693 10.6697 33.2275C9.5427 32.433 7.56584 30.4562 6.77141 29.3292C5.56127 27.6202 4.57284 25.3293 4.09249 23.14C3.90773 22.2809 3.88926 21.9114 3.88926 19.9992C3.88926 18.087 3.90773 17.7175 4.09249 16.8584C4.57284 14.669 5.56127 12.3781 6.77141 10.6691C7.56584 9.54214 9.5427 7.56528 10.6697 6.77084C11.769 5.99488 13.6535 5.0434 14.919 4.6277C19.5933 3.08502 24.6925 3.75013 28.8309 6.42905C29.6715 6.97407 29.7732 7.02026 30.272 7.02026C30.8632 7.02026 31.168 6.84474 31.5283 6.32743C31.6669 6.11497 31.7315 5.88403 31.7315 5.56995C31.7315 4.86789 31.5191 4.52609 30.7708 4.02726C28.3136 2.37372 25.5146 1.31139 22.5955 0.923409C21.5147 0.775604 18.5864 0.75713 17.561 0.886456Z' fill='#003868')
							path(d='M37.0245 2.88176C36.8398 2.97414 33.856 6.47521 28.3873 13.0339C23.8054 18.5303 20.0272 23.0383 19.9995 23.0383C19.9718 23.0383 18.4384 21.2185 16.5816 19.0015C14.7248 16.7844 13.0713 14.8722 12.8958 14.7614C12.2768 14.3457 11.3069 14.5489 10.882 15.1863C10.5863 15.6205 10.5217 16.0824 10.6787 16.535C10.8542 17.0246 18.8725 26.5856 19.279 26.798C19.6485 26.992 20.3505 26.992 20.7201 26.798C20.9048 26.7057 24.295 22.715 29.93 15.9715C34.8444 10.0964 38.9367 5.16347 39.0383 4.99719C39.2693 4.61844 39.2693 3.88867 39.0383 3.46374C38.6965 2.8171 37.7266 2.53997 37.0245 2.88176Z' fill='#003868')
						defs
							clippath#clip0_10_234
								rect(width='40' height='40' fill='white')
					.condition__title= item.title 
					p.condition__text= item.text
