section.consult.consult2#consult2
	img.consult__bglogo(src="img/bg-logo.webp", alt="@")
	img.consult__bggirl.js-animate6(src="img/consult-bg2-girl.webp", alt="@")
	.container 
		.consult__box 
			.consult__info 
				h3.title.consult__title У вас остались #[br] #[span.color-red вопросы по расчету] #[br] кредитного предложения?
				p.consult__text Наши специалисты кредитного брокеража со стажем ответят на все ваши вопросы, касающиеся кредитования. Будь то ставки, условия или требования - мы предоставим вам исчерпывающую информацию, чтобы помочь вам принять взвешенное решение. Не стесняйтесь связаться с нами и задать любые вопросы, которые у вас возникли
				ul.consult__list 
					each item in ['Индивидуальный подход, консультация, вопросы','Экспертное мнение, знания, объективные ответы','Большой опыт работы, отличная репутация','Удобный выбор кредита, различные способы связи']
						li= item
			.consult__form
				include ./../sections/_form.pug