section.faq 
	.container 
		h6.title.faq__title Ответы на самые #[br] #[span.color-red частые вопросы]
		.accordeon
			each item in ['Кто такой кредитный брокер?','Кому нужна помощь в кредите?','Преимущества работы с нами?','Какая стоимость услуг?','Как происходит оплата за услуги?']
				.accordeon__item
					.accordeon__header 
						span.accordeon__title= item
						svg(width='14' height='14' viewBox='0 0 14 14' fill='none')
							path(d='M0.669922 3.04336C0.423828 3.12539 0.202344 3.32227 0.0792969 3.56836C0.021875 3.68594 0.0136719 3.74336 0.0136719 3.99219C0.0136719 4.25469 0.0191406 4.29297 0.0902344 4.42969C0.155859 4.55273 0.751953 5.1625 3.27578 7.68906C5.85703 10.273 6.41211 10.8145 6.54883 10.8883C6.70469 10.973 6.72656 10.9785 7 10.9785C7.27344 10.9785 7.29531 10.973 7.45117 10.8883C7.59062 10.8145 8.14023 10.2758 10.7352 7.67539C13.2098 5.19805 13.866 4.52539 13.9207 4.41602C13.9781 4.29844 13.9863 4.24102 13.9863 3.99219C13.9863 3.72969 13.9781 3.69141 13.907 3.54922C13.8113 3.36055 13.6527 3.20195 13.4531 3.09805C13.3164 3.02969 13.2754 3.02148 13.0293 3.02148C12.5508 3.02148 12.8242 2.78359 9.72891 5.87617L7 8.59961L4.27383 5.87617C1.20859 2.81914 1.45195 3.02969 1.01172 3.01602C0.875 3.01328 0.735547 3.02422 0.669922 3.04336Z' fill='#003868')
					.accordeon__content 
						.accordeon__inner Мы оказываем помощь в получении кредита по всей РФ. Основная наша задача - сэкономить ваше время и помочь вам получить кредит на лучших условиях.
