footer.footer
	.container 
		.footer__box 
			.footer__links 
				a(href="#") Пользавательское соглашение
				a(href="#") Политика конфиденциальности
			.dev 
				span.dev__text Создание сайта
				a.dev__logo(href="") 
					img(src="img/scrum-logo.png", alt="@")

#form-order.popup(style="display:none")
	.popup__form
		form.form(action="#")
			.form__head 
				.popup__title Форма заказа
				p.popup__tagtitle Заполните форму ниже и мы свяжемся #[br] с вами #[b в ближайшее время]
			.form__fields 
				.form__field 
					input(type="text" placeholder="Как вас зовут?")
				.form__field 
					input.js-maskPhone(type="text" placeholder="Ваш телефон")
				button.button.form__button(data-fancybox="thanks" data-src="#thanks") Получить консультацию
			.agree
				label.agree__wrap
					input.agree__input(type="checkbox" checked autocomplete="off")
					span.agree__checkbox
					span.agree__text Нажимая на кнопку, вы соглашаетесь с #[br] #[a(href="") политикой конфиденциальности ]

#thanks.popup.popup-thanks(style="display:none")
	img.popup-thanks__icon(src="img/icon-thanks.svg", alt="@")
	.popup__title Спасибо!!!
	p.popup__tagtitle Ваш запрос обрабатывается, #[b мы перезвоним #[br] вам] в ближайшее время
	button.button.popup__button.js-closeFancybox Спасибо!!!
	
