section.home 
	.container
		h1.title.home__title Поможем одобрить кредит #[br] #[span.color-red в течение 15 минут]
		p.home__tagtitle Оказываем помощь в получении денег для:
		.home__services
			each item in ['Ипотека','Кредит под залог','Кредит на бизнес','Рефинансирование','Кредит наличными','Господдержка']
				span.home__service= item
		button.button.home__button Получить деньги

