// global include
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

// local include
@font-face {
	font-family: 'CeraPro-Bold';
	src: url('../fonts/CeraPro-Bold.eot');
	src: local('CeraPro-Bold'), local('CeraPro-Bold'),
		url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CeraPro-Bold.woff2') format('woff2'),
		url('../fonts/CeraPro-Bold.woff') format('woff'),
		url('../fonts/CeraPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'CeraPro-Medium';
	src: url('../fonts/CeraPro-Medium.eot');
	src: local('CeraPro-Medium'), local('CeraPro-Medium'),
		url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CeraPro-Medium.woff2') format('woff2'),
		url('../fonts/CeraPro-Medium.woff') format('woff'),
		url('../fonts/CeraPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'CeraPro-Regular';
	src: url('../fonts/CeraPro-Regular.eot');
	src: local('CeraPro-Regular'), local('CeraPro-Regular'),
		url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CeraPro-Regular.woff2') format('woff2'),
		url('../fonts/CeraPro-Regular.woff') format('woff'),
		url('../fonts/CeraPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'CeraPro-Light';
	src: url('../fonts/CeraPro-Light.eot');
	src: local('CeraPro-Light'), local('CeraPro-Light'),
		url('../fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CeraPro-Light.woff2') format('woff2'),
		url('../fonts/CeraPro-Light.woff') format('woff'),
		url('../fonts/CeraPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

