:root{
	--700: 'CeraPro-Bold';
	--500: 'CeraPro-Medium';
	--400: 'CeraPro-Regular';
	--300: 'CeraPro-Light';

	--blue: #003868;
	--blueDark: #01213C;
	--blueLight: #F1F5F9;
	--red: #FF1B1C;
	--redDark: #C61415;
	--grey: #C7CCCF;
	--grey2: #242223;
	--grey3: #EEF2F6;
}

// MIXINS
	// @mixin NAMEMIXIN
